* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 70px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 10%;
    padding-top: 5px;
}

.menu {
    width: 90%;
}

.menu nav a {
    color: rgb(2, 2, 2);
    padding-left: 25px;
    font-family: 'Montserrat';
    font-size: 1.3em;
    text-decoration: none;
}

.menu nav a:hover {
    color: rgb(49, 29, 4);
    text-decoration: underline;
}

main {
    background-color: rgb(255, 240, 221);
    border-radius: 30pt;
}

.intro-box {
    background-image: url("/imagens/background-forest.jpg");
    background-color: rgb(44, 94, 71);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 300px;
}

.intro-text {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
}

.intro-content {
    font-family: 'Montserrat';
    font-size: 1.2em;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5;
    color: rgb(3, 41, 22);
}

.intro-text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.intro-text h1 {
    font-family: 'Montserrat';
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    color: rgb(3, 41, 22);
    margin-top: 0pt;
    margin-bottom: 10pt;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 20px;
    text-align: center;
    margin: 50pt;
}

.column a {
    color: rgb(59, 33, 0);
    font-size: 1.2em;
}

figcaption {
    font-size: 0.8em;
}

ol li {
    font-size: 0.7em;
}

footer {
    background-color: rgb(163, 109, 44);
    color: white;
    text-align: center;
    padding: 3pt;
}