nav {
    background-color: rgb(163, 109, 44);
    text-align: center;
    font-size: 1.5em;
    padding: 10pt;
}

a {
    color: white;
    padding-left: 10pt;
    padding-right: 10pt;
    }


h1 {
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: bold;    
    text-align: center;
    margin-top: 0pt;
    margin-bottom: 15pt;
}

body {
    font-family: 'Manjari', sans-serif;
    font-size: 1.2em;
}

main{
    background-color: bisque;
    margin: 50pt;
    padding: 20pt;
    border-radius: 10pt;
}

div.column {
    text-align: center;
}

img.images {
    display: inline-block;
    margin-left: auto;
    margin-left: auto;
}

figcaption {
    font-size: 0.8em;
}

footer {
    background-color: rgb(163, 109, 44);
    color: white;
    text-align: center;
    padding: 3pt;
}