
.game {
    font-family: Arial, Helvetica, sans-serif;
}

.game-title{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.5em;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 20px;
}

#board {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

/*Divides board width by 3 and leaves space for the lines */
.tile {
    width: 165px;
    height: 165px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horiz-line {
    border-bottom: 4px solid black;
}

.vertic-line {
    border-right: 4px solid black;
}

.winner {
    background-color: lightgray;
    color: red
}